<mat-toolbar color="primary">
  <span>Zaidi's Application</span>
</mat-toolbar>
<h1>Java & Spring best practice</h1>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        @ConfigurationProperties
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Dealing with environment variable is not new things for spring developer.
      Often we use <code>@value</code> to inject data from config file into the field
    </p>
    <p>
      However there is issue if we need to have same configuration data at multiple place.
      Following above way, we just need to use <code>@value</code> at all of those places.
    </p>
    <p>
      But then there is better way to inject the data. Fret not, we have <code> @ConfigurationProperties </code>
      This resolve the weakness of @value.
    </p>
    <P>
      Futhermore all related config can be consolidated into one class and can be injected to any intended component.
      Have I also mentioned that this anotation also make it easier to unit test too?
    </P>
    <p>
      To learn more you can refer to <a href="https://www.baeldung.com/configuration-properties-in-spring-boot"> here </a>.
    </p>
  </mat-expansion-panel>
</mat-accordion>